<%= search_form_for @search, url: business_rooms_path do |f| %>
  <div class="form-group">
    <%= f.search_field :title_cont, placeholder: t(".search_name"), value: @search.name_or_address_cont %>
  </div>
  <div class="form-group">
    <%= f.select :location_country_id_eq,
      options_for_select(countries, @search.location_country_id_eq),
      {include_blank: t(".choose_country")}, { onchange: "this.form.submit();" } %>
  </div>
  <% if @search.location_country_id_eq.present? %>
    <div class="form-group">
      <%= f.select :location_id_eq,
        options_for_select(locations, @search.location_id_eq),
        {include_blank: t(".choose_location")}, { onchange: "this.form.submit();" } %>
    </div>
  <% end %>
  <div class="form-group">
    <label><i class="fas fa-sort-alpha-down"></i> <%= t ".sort" %></label><br>
    <%= sort_link @search, :name %>
    <%= sort_link @search, :location_name, t(".location") %>
    <%= sort_link @search, :location_country_name, t(".country") %>
  </div>
  <%= f.submit t(".search"), class: "btn_week destroy_event" %>
  <%= link_to t(".reset"), business_rooms_path, class: "reset_link" %>
<% end %>
