<% provide :title, t("log_in") %>
<div class="banner">
  <div class="container">
    <div class="wrapper">
      <div id="formContent">
        <div class="first">
          <%= image_tag("login.png", id: "icon", alt: "User Icon") %>
        </div>
        <%= form_for :session, url: business_login_path do |f| %>
          <%= f.email_field :email, class: "form-feild", placeholder: t(".email"), required: :required %>
          <%= f.password_field :password, class: "form-feild", placeholder: t(".password"), required: :required %>
          <%= f.submit t("log_in"), class: "btn_week destroy_event login_event" %>
        <% end %>
        <%= link_to t(".forgot_password"), "#" %>
        <div id="formFooter">
          <p><%= t ".you_haven't_account" %><%= link_to t("sign_up"), business_signup_path, class: "underlineHover" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
