<%= search_form_for @q, url: managers_rooms_path do |f| %>
  <div class="row mb-8">
    <div class="form-group col-md-3">
      <%= f.label :name_cont do %>
        <%= t ".room_name" %>
      <% end %>
      <%= f.text_field :name_cont, class: "form-control",
        placeholder: t(".search"), value: handle_key_search(:name_cont) %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :active_eq do %>
        <%= t ".status" %>
      <% end %>
      <%= f.select :active_eq,
        options_for_select(room_option, handle_key_search(:active_eq)),{},
        {class: "form-control"} %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :created_on_eq do %>
        <%= t ".label_date" %>
      <% end %>
      <%= f.date_field :created_on_eq, value: handle_key_search(:created_on_eq),
        class: "form-control" %>
    </div>
    <div class="form-group col-md-3 mt-rem">
      <%= f.submit class: "btn btn-primary btn-search" do %>
        <i class="fa fa-search"></i>
        <%= t ".search_btn" %>
      <% end %>
    </div>
  </div>
<% end %>
