<%= form_tag managers_rooms_path, method: :get do %>
  <div class="row mb-8">
    <div class="form-group col-md-3">
      <%= label_tag :room_name do %>
        <%= t ".room_name" %>
      <% end %>
      <%= text_field_tag :room_name, "", class: "form-control",
        placeholder: t(".search"), value: params[:room_name] %>
    </div>
    <div class="form-group col-md-3">
      <%= label_tag :option do %>
        <%= t ".status" %>
      <% end %>
      <%= select_tag :option, options_for_select(room_option, params[:option]),
        class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= label_tag :search_day do %>
        <%= t ".label_date" %>
      <% end %>
      <%= date_field_tag :search_day, params[:search_day], class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= button_tag type: "submit", class: "btn btn-primary btn-search" do %>
        <i class="fa fa-search"></i>
        <%= t ".search_btn" %>
      <% end %>
    </div>
  </div>
<% end %>
