<%= form_for @room, url: yield(:room_path), html: {name: "form_room"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <label><%= t ".name" %></label>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label><%= t ".address" %></label>
    <%= f.text_field :address, {class: "form-control", rows: "3"} %>
  </div>
  <div class="form-group">
    <label><%= t ".location" %></label>
    <% if @locations.present? %>
      <%= f.select :location_id, options_for_select(@locations),
        {}, {class: "form-control"} %>
    <% else %>
      <p class="help-block"><%= t ".no_location" %></p>
    <% end %>
  </div>
  <div class="form-group">
    <div class="row">
      <label class= "col-md-3 control-label">
        <%= t ".image" %>
      </label>
      <div class="col-md-4">
        <table id="form-images">
          <tbody>
            <%= f.fields_for :images do |image| %>
              <%= render "managers/rooms/image_fields", f: image %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <%= link_to_add_association f, :images,
        class: "btn btn-default",
        data: {
        association_insertion_node: "#form-images",
        association_insertion_method: :append} do %>
        <i class="fa fa-plus fa-lg"></i>
      <% end %>
    </div>
  </div>

  <%= f.submit submit, class: "btn btn-#{btn}", id: "submit_room" %>
<% end %>
