<tr class="nested-fields">
  <td>
    <%= f.label :image do %>
      <span class="btn btn-outline btn-link mr-8 animation-resize">
        <i class="fa fa-cloud-upload fa-2x"></i>
      </span>
    <% end %>
  </td>
  <td hidden>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.hidden_field :image_cache, value: f.object.image_cache %>
  </td>
  <td class="thumb img-pre-show">
    <% if f.object.image.url.present? %>
      <%= image_tag f.object.image.thumb.url %>
    <% else %>
      <div class="none-img-show"></div>
    <% end %>
  </td>
  <td class="px-8">
    <%= link_to_remove_association f,
      class: "btn btn-default btn-circle delete-btn animation-resize" do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>
