<tr>
  <td><%= room_counter + 1 %></td>
  <td>
    <%= link_to room.name, managers_room_path(id: room.id) %>
  </td>
  <td><%= room.address %></td>
  <td><%= room.location_name %></td>
  <td><%= room.location.country_name %></td>
  <td><%= l room.created_at, format: :long %></td>
  <td><%= l room.updated_at, format: :long %></td>
  <td align="center">
    <%= link_to edit_managers_room_path(id: room.id) do %>
      <i style="cursor: pointer;"
        class="fa fa-pencil-square-o fa-lg" aria-hidden="true">
      </i>
    <% end %>
  </td>
  <td align="center">
    <i style="cursor: pointer;"
      class="fa fa-trash fa-lg" aria-hidden="true">
    </i>
  </td>
</tr>
