<tr>
  <td><%= room_counter + indexing_page(@rooms) %></td>
  <td>
    <%= link_to room.name, managers_room_path(room) %>
  </td>
  <td><%= room.address %></td>
  <td><%= room.location_name %></td>
  <td><%= room.location.country_name %></td>
  <td><%= l room.created_at, format: :date %></td>
  <td><%= l room.updated_at, format: :date %></td>
  <td align="center">
    <%= link_to edit_managers_room_path(id: room.id),
      class: "btn btn-outline btn-link" do %>
      <i class="fa fa-pencil-square-o fa-lg animation-resize edit-icon"></i>
    <% end %>
  </td>
  <td align="center">
    <%= link_to managers_room_active_path(room), method: :patch,
      data: {confirm: t(room.locked? ? ".open" : ".lock", name: room.name)},
      remote: true,
      class: "btn btn-default btn-circle animation-resize active-locking" do %>
      <% if room.locked? %>
        <i class="fa fa-lock fa-lg trash-icon"></i>
      <% else %>
        <i class="fa fa-unlock fa-lg unlock-icon"></i>
      <% end %>
    <% end %>
  </td>
</tr>
