<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> <%= t ".table_name" %>
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
          data-toggle="dropdown">
          <%= t ".action" %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li>
            <%= link_to new_managers_room_path do %>
              <i class="fa fa-plus"></i> <%= t ".add_new" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <% if @rooms.present? %>
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".address" %></th>
                  <th><%= t ".location" %></th>
                  <th><%= t ".country" %></th>
                  <th><%= t ".created_at" %></th>
                  <th><%= t ".updated_at" %></th>
                  <th><%= t ".edit" %></th>
                  <th><%= t ".delete" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @rooms %>
              </tbody>
            </table>
            <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
          <% else %>
            <p class="help-block"><%= t ".no_room" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
