<%= provide :title, t(".title", name: @room.name) %>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-11">
        <h1 class="page-header">
          <%= t ".room" %>: <%= @room.name %>
        </h1>
        <% if @images.present? %>
          <%= render "managers/rooms/carousel" %>
        <% else %>
          <p class="help-block"><%= t ".no_img" %></p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11">
        <div class="panel panel-default">
          <div class="panel-body">
            <address>
              <p>
                <i class="fa fa-home fa-lg"></i>
                <strong><%= t ".address" %>: <%= @room.address %></strong>
              </p>
              <p class="text-muted">
                <i class="fa fa-hand-o-right fa-lg"></i>
                <%= t ".location" %>: <%= @room.location_name %>
              </p>
              <p class="text-muted">
                <i class="fa fa-hand-o-right fa-lg"></i>
                <%= t ".country" %>: <%= @room.location.country_name %>
              </p>
              <p class="help-block">
                <small>
                  <%= t ".created_at" %>:
                  <%= l @room.created_at, format: :long %>
                </small>
              </p>
              <p class="help-block">
                <small>
                  <%= t ".updated_at" %>:
                  <%= l @room.updated_at, format: :long %>
                </small>
              </p>
            </address>
            <div class="flex-box">
              <div>
                <%= link_to edit_managers_room_path(@room),
                  class: "btn btn-default btn-circle animation-resize mr-8" do %>
                  <i class="fa fa-pencil-square-o fa-lg edit-icon"></i>
                <% end %>
              </div>
              <div>
                <%= link_to managers_room_active_path(@room), method: :patch, remote: true,
                  class: "btn btn-default btn-circle animation-resize active-locking" do %>
                  <% if @room.locked? %>
                    <i class="fa fa-lock fa-lg trash-icon"></i>
                  <% else %>
                    <i class="fa fa-unlock fa-lg unlock-icon"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11">
        <%= render "managers/events/table", events: @events %>
      </div>
    </div>
  </div>
</div>
