<% provide :title, t("sign_up") %>
<div class="banner">
  <div class="container">
    <div class="wrapper">
      <div id="formContent">
        <div class="first">
          <%= image_tag Settings.image_name, id: "icon", alt: t("user_icon") %>
        </div>
        <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
          <div class="field">
            <%= f.text_field :name, class: "form-feild", autocomplete: "email", placeholder: t(".enter_name"), required: :required %>
            <%= display_error f.object, :name, t(".name") %>
          </div>

          <div class="field">
            <%= f.email_field :email, class: "form-feild", placeholder: t(".enter_email"), required: :required %>
            <%= display_error f.object, :email, "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, class: "form-feild", placeholder: t(".enter_password"), autocomplete: "new-password", required: :required %>
            <span id="result" class="result"></span>
            <div id="bar-strong-password" class="bar-strong-password"></div>
            <%= display_error f.object, :password, t(".password") %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, class: "form-feild", placeholder: t(".password_confirmation"), autocomplete: "new-password", required: :required %>
            <%= display_error f.object, :password_confirmation, t(".password_confirmation") %>
          </div>

          <div class="field">
            <%= f.select :role, options_for_select(Settings.array_role), include_blank: t(".role"), class:"form-feild select-feild", required: :required %>
            <%= f.select :group_id, options_for_select(@group), include_blank: t(".group"), class:"form-feild select-feild", required: :required %>
          </div>

          <div class="field captcha-content">
            <%= recaptcha_tags %>
            <%= flash[:recaptcha_error] %>
          </div>

          <div class="actions">
            <%= f.submit t(".create_new_account"), class: "btn_week sign_up_btn" %>
          </div>
        <% end %>
        <div id="formFooter">
          <p><%= t ".you_have_account" %> <%= link_to t("log_in"), new_user_session_path, class: "underlineHover link_login" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
