<h2>
  <%= t ".hi" %>, <%= @user.name %>
</h2>
<h3>
  <%= t ".title" %>: <%= @event.title %>
</h3>
<p>
  <%= t ".day" %>: <%= l @event.date_event, formant: :date %>
</p>
<p>
  <%= t ".start_time" %>: <%= l @event.start_time, format: :time %>
</p>
<p>
  <%= t ".end_time" %>: <%= l @event.end_time, format: :time %>
</p>
<p>
  <%= t ".cancel_guest", name: @event.title %>
</p>
