<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bell fa-fw"></i> <%= t ".notification" %>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <%= link_to "#", class: "list-group-item" do %>
        <i class="fa fa-comment fa-fw"></i> <%= t ".new_comment" %>
        <span class="pull-right text-muted small">
          <em><%= t ".minutes_demo" %></em>
        </span>
      <% end %>
      <%= link_to "#", class: "list-group-item" do %>
        <i class="fa fa-envelope fa-fw"></i> <%= t ".message_sent" %>
        <span class="pull-right text-muted small">
          <em><%= t ".minutes_demo" %></em>
        </span>
      <% end %>
      <%= link_to "#", class: "list-group-item" do %>
        <i class="fa fa-tasks fa-fw"></i> <%= t ".new_task" %>
        <span class="pull-right text-muted small">
          <em><%= t ".minutes_demo" %></em>
        </span>
      <% end %>
      <%= link_to "#", class: "list-group-item" do %>
        <i class="fa fa-user-plus fa-fw"></i> <%= t ".new_book" %>
        <span class="pull-right text-muted small">
          <em><%= t ".time_demo" %></em>
        </span>
      <% end %>
    </div>
    <%= link_to t(".view_all_alert"), "#", class: "btn btn-default btn-block" %>
  </div>
</div>
