<%= search_form_for @q, url: managers_users_path do |f| %>
  <div class="row mb-8">
    <div class="form-group col-md-4">
      <%= f.label :name_cont do %>
        <%= t ".name" %>
      <% end %>
      <%= f.text_field :name_cont, class: "form-control",
        placeholder: t(".search"), value: handle_key_search(:name_cont) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :email_cont do %>
        <%= t ".email" %>
      <% end %>
      <%= f.text_field :email_cont, class: "form-control",
        placeholder: t(".search"), value: handle_key_search(:email_cont) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :group_id_eq do %>
        <%= t ".group" %>
      <% end %>
      <%= f.select :group_id_eq,
        options_for_select(load_group, handle_key_search(:group_id_eq)), {},
        {class: "form-control"} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :role_eq do %>
        <%= t ".role" %>
      <% end %>
      <%= f.select :role_eq,
        options_for_select(load_role, handle_key_search(:role_eq)), {},
        {class: "form-control"} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :activated_eq do %>
        <%= t ".status" %>
      <% end %>
      <%= f.select :activated_eq,
        options_for_select(activated_user_option, handle_key_search(:activated_eq)), {},
        {class: "form-control"} %>
    </div>
    <div class="col-md-4 mt-rem">
      <%= f.submit class: "btn btn-primary btn-search" do %>
        <i class="fa fa-search"></i>
        <%= t ".search_btn" %>
      <% end %>
    </div>
  </div>
<% end %>
