<tr>
  <td><%= user_counter + indexing_page(@users) %></td>
  <td>
    <%= link_to user.name, managers_user_path(user) %>
  </td>
  <td><%= user.email %></td>
  <td><%= user.group_name %></td>
  <td><%= user.role %></td>
  <td><%= l user.created_at, format: :date %></td>
  <td><%= l user.updated_at, format: :date %></td>
  <td align="center">
    <% if none_manager? user %>
      <%= link_to managers_user_path(user), method: :patch, remote: true,
        data: {confirm: t(user.activated? ? ".lock" : ".activate", name: user.name)},
        class: "btn btn-default btn-circle animation-resize user-activate" do %>
        <% if user.activated? %>
          <i class="fa fa-unlock fa-lg unlock-icon"></i>
        <% else %>
          <i class="fa fa-lock fa-lg trash-icon"></i>
        <% end %>
      <% end %>
    <% else %>
      <% if user.activated? %>
        <i class="fa fa-unlock fa-lg unlock-icon"></i>
      <% else %>
        <i class="fa fa-lock fa-lg trash-icon"></i>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if user.activated_at? %>
      <%= l user.activated_at, format: :date %>
    <% else %>
      <%= t ".not_activated" %>
    <% end %>
  </td>
</tr>
