<% provide :title, t("change_password") %>
<div class="banner">
  <div class="container">
    <div class="wrapper">
      <div id="formContent">
        <div class="first">
          <%= image_tag Settings.image_name, id: "icon", alt: t("user_icon") %>
        </div>
        <h2><%= t "change_your_password" %></h2>
        <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f| %>
          <%= render "business/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="field">
            <%= f.password_field :password, class: "form-feild", placeholder: t(".new_password"), autocomplete: "new-password", required: :required %>
            <br>
            <span id="result" class="result"></span>
            <div id="bar-strong-password" class="bar-strong-password"></div>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, class: "form-feild", placeholder: t(".new_password_confirmation"), autocomplete: "new-password", required: :required %>
          </div>

          <div class="actions">
            <%= f.submit t(".change_password"), class: "btn_week sign_up_btn" %>
          </div>
        <% end %>
        <div id="formFooter">
          <p><%= t ".you_have_account" %> <%= link_to t("log_in"), new_user_session_path, class: "underlineHover link_login" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
