<% provide :title, t("header.home") %>
<% provide :page, "home" %>
<!-- Banner Starts Here -->
<div class="page-heading about-heading header-text heading_about_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4><%= t ".about" %></h4>
          <h2><%= t ".content_heading_about" %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Ends Here -->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2><%= t ".list_room" %></h2>
          <%= link_to business_rooms_path do %>
            <%= t ".read_more" %><i class="fa fa-angle-right"></i>
          <% end %>
        </div>
      </div>
      <% if @rooms.any? %>
        <% (0..2).each do |i| %>
          <div class="col-md-4">
            <%= render @rooms[i] %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- Unused -->
<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2><%= t("header.about") %></h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Explicabo, esse consequatur alias repellat in excepturi inventore ad <a href="#">asperiores</a> tempora ipsa. Accusantium tenetur voluptate labore aperiam molestiae rerum excepturi minus in pariatur praesentium, corporis, aliquid dicta.</p>
          <ul class="featured-list">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Consectetur an adipisicing elit</a></li>
            <li><a href="#">It aquecorporis nulla aspernatur</a></li>
            <li><a href="#">Corporis, omnis doloremque</a></li>
          </ul>
          <%= link_to t(".read_more"), business_about_path, class: "filled-button" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <%= image_tag "about-1-570x350.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services prafix" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2><%= t ".history_book_room" %></h2>
          <%= link_to business_history_path(current_user), class: "btn_history" do %>
            <%= t ".read_more" %><i class="fa fa-angle-right"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% if @events.any? %>
        <% (0..2).each do |i| %>
          <div class="col-md-12">
            <% if @events[i] %>
            <%= render "business/history/history_event", event: @events[i], i: i %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<div class="happy-clients">

</div>
