<div id="form-report<%= report.id %>">
  <div class="row">
    <div class="col-md-1">
      <%= image_tag "avatar.png", class: "image-user" %>
    </div>
    <div class="col-md-11 report-content">
      <%= report.user.name %> -
      <span class="timestamp">
        <%= time_ago_in_words report.created_at %>
      </span><br/>
      <p class="comment-content"><%= report.comment %></p>
      <% if report.user_id.eql? current_user.id %>
        <%= link_to "delete", business_room_report_path(room, report),
        id: :delete, method: :delete,
        data: {confirm: t("sure")}, remote: true %>
      <% end %>
    </div>
  </div>
  <% unless report.parent_id %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <%= render "business/reports/report_form", room: room, parent_id: report.id,
        report_new: report_new %>
      </div>
    </div>
  <% end %>
  <div class="replies replies-<%= report.id %>">
  </div>
</div>
