<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="locale_change">
        <%= link_to image_tag("image_locales/co_anh.jpg", class: "co_anh"),
        locale: :en, id: "en" %>
        <%= link_to image_tag("image_locales/co_viet_nam.jpeg", class: "co_viet_nam"),
        locale: :vi, id: "vi" %>
      </div>
      <%= link_to logged_in? ? home_path : login_path , class: "navbar-brand" do %>
        <h2> <%= t "name_app" %> <em><%= t "website" %></em></h2>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if logged_in? %>
            <li class="nav-item active" >
              <%= link_to t("header.home"), home_path, class: "nav-link" %>
            </li>
            <li class="nav-item active" >
              <%= link_to t("header.about"), about_path, class: "nav-link" %>
            </li>
            <li class= >
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
              <div class="dropdown-menu">
                <%= link_to t("header.update_profile"), "#", class: "dropdown-item" %>
                <%= link_to t("header.history_book_room"), "#", class: "dropdown-item" %>
                <%= link_to t("header.logout"), logout_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to t(".login"), login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
