<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <link href="<%= Settings.link_font_awesome %>" rel="stylesheet">
    <script>
      document.getElementsByTagName("html")[0].className += " js";
    </script>
    <%= stylesheet_link_tag "business/business", media: "all" %>
    <%= javascript_pack_tag "business/business" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= render "business/layouts/header"%>
    <div class="banner">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <%= render "business/layouts/footer"%>
    <%= javascript_pack_tag "business/calendar/main" %>
  </body>
</html>
